# chromadb==1.3.0
# langchain==1.0.2
# langchain_text_splitters==1.0.0
# nltk==3.9.1
# numpy==2.3.4
# pandas==2.3.3
# sentence_transformers==5.1.2
# #torch==2.8.0 # use for more generic
# torch==2.8.0+cu126 # use if this cuda version is available
# tqdm==4.67.1
# transformers==4.57.1
# scikit-learn
# mlflow
